<!DOCTYPE html>

<head>
	<style>
		body{
			background-color: gray;
	
		}
		ul {
			width: 100px;	
			margin: 350px auto 0 auto;
			padding 0;
			list-style: none;
		}
		ul li {
			padding: 2px 5px;
		}
		ul li:before {
			content:url(http://www.un.org/en/oaj/unjs/efiling/added/images/bullet-list-icon-blue.jpg);;
		}

	</style>
</head>
<body>
	<div class="center">
		{% if app_names %}
    		<ul>
				Please Choose a App:
    			{% for i in app_names %}
        			<li><a href="http://{{request.get_host}}/counters_app/start-counter/{{i}}/{{url_hash}}"> {{ i }}</a></li>
    			{% endfor %}
    		</ul>
		{% else %}
    			<p>No Apps are available.</p>
		{% endif %}
	</div>
</body>
